:root{
  --color-bg: #ffffff;
  --color-text: #000048;
  --color-accent-1: #2f78c4;
  --color-accent-2: #97999b;
  --color-accent-3: #e0e0e0;
  --color-accent-4: #53565a;
  --color-accent-5: #d0d0ce;
  --color-accent-6: #00000033;
  --color-accent-7: #6aa2dc;
  --color-accent-8: #000048a1;
  --color-accent-9: #ebebed;
  --color-accent-10: #00005a;
  --color-accent-11: #92bbe6;
  --color-accent-12: #c4c4c4;
  --space-8: 8px;
  --space-10: 10px;
  --space-12: 12px;
  --space-15: 15px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-40: 40px;
  --space-44: 44px;
  --space-45: 45px;
  --space-60: 60px;
  --space-61: 61px;
  --space-80: 80px;
  --space-105: 105px;
  --space-120: 120px;
  --space-144: 144px;
  --space-200: 200px;
  --space-202: 202px;
  --gap-2: 2px;
  --gap-4: 4px;
  --gap-7: 7px;
  --gap-8: 8px;
  --gap-10: 10px;
  --gap-12: 12px;
  --gap-16: 16px;
  --gap-23: 23px;
  --gap-24: 24px;
  --gap-28: 28px;
  --gap-34: 34px;
  --gap-36: 36px;
  --gap-40: 40px;
  --gap-48: 48px;
  --gap-54: 54px;
  --gap-60: 60px;
  --gap-63: 63px;
  --gap-72: 72px;
  --gap-74: 74px;
  --gap-81: 81px;
  --gap-102: 102px;
  --gap-159: 159px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-49: 49px;
}
